/*ͨ通用细节样式*/
.tabbar.show-tabbar .tab-button:nth-child(3) .tab-button-icon{ background-size: 40px; margin-top: -12px;width: 40px;
    height: 40px;}

.tabbar.show-tabbar .tab-button:nth-child(3){ overflow: initial}


.text_one {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-size: 14px;
}

.text_two {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
}

.elastic_box {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.elastic {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.elastic_hw {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.maina-color {
    color: #ea5a1e !important
}

.mainb-color {
    color: #ff6600 !important
}

.mainc-color {
    color: #fb4739 !important
}

.gray {
    color: #999 !important
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.fize16 {
    font-size: 16px
}

.fize14 {
    font-size: 14px
}

.fize12 {
    font-size: 12px
}

.fize10 {
    font-size: 10px
}

.p0 {
    padding: 0px
}

.p10 {
    padding: 10px
}

.pt0 {
    padding-top: 0px !important
}

.pb0 {
    padding-bottom: 0px !important
}

.pb10 {
    padding-bottom: 10px !important
}

.p15 {
    padding: 15px !important
}

.p015 {
    padding: 0px 15px !important
}

.p13 {
    padding: 13px !important
}

.mt0 {
    margin-top: 0px !important;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mb10 {
    margin-bottom: 10px
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb30 {
    margin-bottom: 30px
}

.text-indent28 {
    text-indent: 28px;
}

.light_bg {
    background-color: #fff
}


/*微信样式*/

.page,
body {
    background-color: #fff
}

.header+.page.js_show {
    padding-top: 64px;
    height: 100%;
}


/*架子样式*/

.toolbar-title-ios {
    font-weight: normal
}

.toolbar-ios ion-title {
    padding-top: 20px;
    font-size: 18px
}

ion-navbar.toolbar-ios {
    min-height: 64px;
}

ion-footer .toolbar-ios {
    min-height: 49px
}

.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios {
    border: 0px;
}

.tabs-ios .tabbar {
    border-top: 0.55px solid rgba(0, 0, 0, 0.1);
}

.toolbar-ios ion-title {
    padding-left: 44px;
    padding-right: 44px
}

.has-refresher>.scroll-content {
    border-top: 0px
}

.tabs-ios .tab-button-icon {
    margin-top: 2px
}

.tabs-ios .tab-button-text {
    margin-bottom: 2px
}

.weui-check__label:active,
a.weui-media-box:active {
    background-color: transparent
}

ion-footer.footer-ios ion-toolbar .toolbar-background-ios {
    background-color: transparent;
}

.searchbar-ios {
    padding-right: 20px;
    padding-left: 0px;
}

.searchbar-ios .searchbar-input {
    height: 2.6rem
}

.searchbar-ios .searchbar-search-icon {
    top: 10px
}

.toolbar .searchbar-ios .searchbar-input {
    background-color: #f7f7f7
}

input.searchbar-input:-moz-placeholder {
    color: #fff !important;
}

input.searchbar-input::-moz-placeholder {
    color: #fff !important;
}

input.searchbar-input:-ms-input-placeholder {
    color: #fff !important;
}

input.searchbar-input::-webkit-input-placeholder {
    color: #fff !important;
}


/*通用样式*/

body {
    color: #333;
    font-size: 14px;
    font-family: microsoft yahei, Arial, 'microsoft yahei';
    line-height: inherit !important;
    position: relative;
    overflow: auto;
    font-weight: normal
}

label,
input,
select,
textarea {
    line-height: normal;
    outline: none;
    -webkit-appearance: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
em {
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
    font-weight: normal;
    font-style: normal
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

input {
    border: none;
    outline: none
}

a img {
    border: 0;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #666;
}

.item-block {
    min-height: 45px
}

.item-ios {
    font-size: 17px
}

.item-ios.item-block .item-inner {
    border: 0px
}

.alert-ios .alert-radio-label {
    font-size: 16px
}

.select-ios {
    padding-right: 0px
}

.select-ios .select-icon {
    width: 15px
}

.select-ios .select-icon .select-icon-inner {
    width: 8px;
    height: 8px;
    border-top: 2px solid #C8C8CD;
    border-right: 2px solid #C8C8CD;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    border-left: 0px;
}

.alert-ios [aria-checked=true] .alert-radio-label,
.alert-ios [aria-checked=true] .alert-radio-inner {
    color: #f4b921;
    border-color: #f4b921
}

.alert-ios .alert-button {
    color: #f4b921;
}

.item-ios,
.list-ios ion-item-sliding {
    padding: 0px;
    background-color: transparent
}

.item-ios.item-block .item-inner {
    padding: 0px
}

.list-ios,
.label-ios {
    margin: 0px
}

.list-ios ion-item-options,
.list-ios>.item-block:last-child,
.list-ios>.item-wrapper:last-child .item-block,
.list-ios>.item-block:last-child,
.list-ios>.item-wrapper:last-child .item-block {
    border: 1px
}


/*头部样式*/

.weui-tabbar {
    background-color: #fff
}

.header_search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    right: auto;
    left: auto;
    position: static
}

.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -moz-box-flex: 1;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0px 10px;
    background: rgba(246, 246, 246, 1);
    box-sizing: border-box;
    width: 100%;
    height: 32px
}

.search span {
    font-size: 12px;
    font-weight: normal;
    margin-left: 4px
}

.search input {
    border: 0px;
    background-color: transparent;
    outline: none;
    height: 28px;
    padding-left: 8px;
    min-width: 0;
    width: 100%;
    color: #333;
    font-size: 12px;
    font-weight: normal;
}

.search input:-moz-placeholder {
    color: #999;
}

.search input::-moz-placeholder {
    color: #999;
}

.search input:-ms-input-placeholder {
    color: #999;
}

.search input::-webkit-input-placeholder {
    color: #999;
}

.weui-icon-search {
    color: #999
}

.search_inset {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 15px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -moz-box-flex: 1;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
}

.header_tab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    max-width: 160px;
    margin: 7px auto;
}

.header_tab li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -moz-box-flex: 1;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 14px
}

.header_tab li.active {
    background-color: #fff;
    color: #f4b921
}

.header_tab li:not(:first-child) {
    border-left: 0px
}

.header_tab li:first-child {
    border-radius: 5px 0px 0px 5px
}

.header_tab li:last-child {
    border-radius: 0px 5px 5px 0px;
}

.header_imgicon {
    width: 24px;
    display: inline-block;
    vertical-align: middle
}

.header_img {
    width: 24px;
    display: inline-block;
    vertical-align: middle
}


/*订单切换*/

.weui-navbar {
    background-color: #fff
}

.weui-navbar li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 16px;
    z-index: 9999;
    height: 44px;
    line-height: 44px;
}

.weui-navbar li span {
    padding: 10px 0px
}

.weui-navbar li.active span {
    border-bottom: 2px solid #f4b921;
    color: #f4b921;
}

.weui-cell_access:active {
    background: transparent
}


/*多种分类导航*/

.lateral {
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: chained;
    -webkit-transform: translateZ(0);
}

.lateral::-webkit-scrollbar {
    width: 0;
    height: 0
}

.lateral span.active {
    color: #f4b921;
    border-bottom: 2px solid #f4b921;
}

.lateral span {
    padding: 12px 0px 13px;
    display: block;
    height: 44px
}

.lateral em {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    display: block;
    background-color: #f4b921;
    margin: auto
}

.lateral li {
    width: auto;
    margin: 0px 0px 0px 10px;
}


/*论坛样式*/

.forum {
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
    padding: 10px 10px;
}

.forum_hd {
    font-size: 10px;
    color: #999;
    margin-bottom: 6px
}

.forum_hd img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 100px
}

.forum_hd h4 {
    font-size: 14px;
    color: #333;
}

.forum_img {
    margin-bottom: 10px
}

.forum_md {
    font-size: 14px;
    margin-bottom: 6px;
}

.forum_img li {
    text-align: center;
    margin-right: 3px;
}

.forum_img li:last-child {
    margin-right: 0px
}

.forum_num {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2px 8px;
    border-radius: 35px
}

.forum_bd li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}

.forum_bd li img {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
}

.forum_imgbox {
    margin-bottom: 0px
}

.forum_imgbox li {
    width: 33.0%;
    margin-bottom: 3px;
    padding-right: 3px
}


/*����*/

.comment {
    padding: 15px;
    background-color: #fff;
}

.comment .title {
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 600
}

.comment_hd {
    font-size: 10px;
    color: #999;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.comment_hd:last-child {
    margin-bottom: 0px
}

.comment_hd img.comment_head {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 100px
}

.comment_hd h4 {
    font-size: 14px;
    color: #666;
}

.comment_info .comment_info_con {
    color: #333;
    font-size: 14px;
    text-align: justify;
    padding: 5px 0px;
}

.comment_info_bd img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    margin-left: 5px
}

.comment_info_bd span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 0px;
    color: #666;
}

.comment_info .comment_info_bd span:last-child {
    margin-right: 0px
}

.comment_info .forum_img {
    padding-left: 0px;
    padding-right: 0px
}

.comment_name {
    color: #245688
}

.comment_hf_list {
    margin-bottom: 10px
}

.comment_hf_list .comment_hf_text {
    font-size: 14px;
    color: #333;
}

.comment_hf_list:last-child {
    margin-bottom: 0px
}

.comment_hf {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px
}

.comment_hf_name {
    color: #666;
    font-size: 14px
}

.comment_hf_name img {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    border-radius: 100%
}

.comment_hf_name em {
    margin-left: 5px;
    margin-right: 5px;
    color: #626160;
    font-size: 14px
}

.comment_hf_name em:first-child {
    margin-left: 0px
}

.comment_hf_more {
    display: block;
    text-align: center
}

.comment_hf_more span {
    display: inline-block;
    vertical-align: middle;
}

.comment_hf_more img {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-left: 5px
}

.comment_info_bd span.active_num {
    color: #f30
}


/*按钮样式*/

.weui-btn_primary {
    background-color: #0fd6b7;
    color: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #0fd6b7;
}

.weui-btn_primary:not(.weui-btn_disabled):active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #0fd6b7;
}

.weui-btn {
    line-height: 48px;
    font-size: 16px
}

.weui-btn:after {
    border: 0px
}

.weui-btn-area {
    margin: 30px 20px
}

.weui-textarea {
    background-color: transparent;
}


/**/

.xview_num {
    max-width: 100px;
    margin: 9px auto;
    border: 1px solid #e5e5e5;
    height: 30px;
}

.xview_num span {
    text-align: center;
    height: 28px;
    line-height: 26px;
    color: #666;
    font-size: 16px;
    width: 28px;
    display: inline-block;
    background-color: #f5f5f5
}

.xview_num input {
    max-width: 30px;
    text-align: center
}


/*订单按钮*/

.button_btn {
    padding: 0px 16px;
    color: #fff;
    background-color: #fe7938;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.button_btn:last-child {
    background-color: #fb0d3f;
}

.border_button {
    border: 1px solid #f4b921;
    padding: 5px 15px;
    color: #f4b921;
    border-radius: 50px
}

.border_button_gray {
    border: 1px solid #999;
    padding: 5px 15px;
    color: #999;
    border-radius: 50px
}


/*订单详情底部圆角按钮*/

.order_operation {
    text-align: right;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0px;
    background-color: #fff
}

.order_operation span {
    border: 1px solid #999;
    padding: 5px 15px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 35px;
    color: #666;
    font-size: 14px
}

.order_operation span.button_main {
    border: 1px solid #f4b921;
    color: #f4b921
}


/*上传照片*/

.weui-uploader__input-box:before,
.weui-uploader__input-box:after {
    display: none
}

.weui-uploader__input-box {
    text-align: center
}

.weui-uploader__input-box p {
    font-size: 12px;
    color: #999
}

.weui-uploader__files {
    width: 100%
}

.weui-uploader__file,
.weui-uploader__input-box {
    width: 22%;
    position: relative
}

.weui-uploader__input-box {
    text-align: center;
    border: 1px dashed #c0c0cf;
    border-radius: 4px
}

.weui-loadmore {
    margin-bottom: 0px;
    width: 50%
}

.weui-loadmore_line {
    margin-top: 25px
}

.weui-loadmore_line .weui-loadmore__tips {
    background-color: #f7f7f7
}


/* .weui-icon-checked {
    width: 28px;
    height: 28px;
    border: 1px solid #e5e5e5;
    border-radius: 100px;
    line-height: 28px;
    display: block;
    text-align: center;
}

.weui-cells_radio .weui-check:checked+.weui-icon-checked:before {
    width: 27px;
    height: 27px;
    border-radius: 100px;
    background-color: #f4b921;
    color: #fff;
    margin-left: 0px;
} */


/*第三方登录样式*/

.party_login_bottom {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
}

.party_login {
    text-align: center;
    padding: 20px 0px;
}

.party_login .party_login_text {
    padding: 0px 10px
}

.party_login .party_login_line {
    height: 1px;
    background-color: #ccc;
    display: inline-block;
    flex-grow: 1;
}

.party_login_mode li {
    width: 33.33%;
    text-align: center
}

.party_login_mode li img {
    width: 50px;
    margin: auto;
}


/*验证码弹框*/

.yzm_img {
    border: 1px solid #e5e5e5
}

.yzm_img .img_btn {
    width: 100%;
    display: block
}

.yzm_img .sx_btn {
    display: inline-block;
    padding: 5px 10px
}

.tk_input,
.yzm_img {
    margin: 0px 80px 10px;
    display: block
}

.tk_input {
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.tk_input input {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    height: 32px;
    outline: none;
    border: none;
    text-align: center
}

.weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before {
    content: '\EA06';
    color: #0fd6b7;
}

.yonghu {
    font-size: 18px;
    padding: 40px 15px 20px 15px;
}

.weui-cell_vcode {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.weui-label {
    display: block;
    width: 105px;
    word-wrap: break-word;
    word-break: break-all;
}

.youxiang {
    width: 77px!important;
}

.chengse {
    color: #ea5a1e!important;
    border: 0!important;
}

.zhuc {
    background-color: #fff;
}

.xieyi {
    margin: 10px 0;
}

.lijizhuc {
    background: none;
    color: #666666!important;
}

.weui-btn-area .active {
    color: #fff!important;
    background: #f4b921;
}

.ger {
    margin-top: 0!important;
}

.tuichu {
    text-align: center;
}

.background {
    background: #f7f7f7;
    height: 100%;
}

.weui-cells:before {
    border: 0;
}